{% extends '::frontend.html.twig' %}
{% block body %}
    <h2>Dostęp tylko dla zalogowanych!</h2>
    <br />
    {% if error %}
    <div class="label label-important">{{ error.message }}</div>
    <br />
    {% endif %}
<form action="{{ path('smg_user_login_check') }}" method="post">
    <label for="username">Użytkownik:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Hasło:</label>
    <input type="password" id="password" name="_password" />
    <p>
        <button class="btn btn-primary" type="submit">Zaloguj</button>
    </p>
</form>
{% endblock %}