{% block content %}
<h1>Nowy element</h1>

<form action="{{ path('item_create', { 'menu_id': menu_id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-primary" type="submit">Dodaj</button>
    </p>
</form>
{% endblock %}